{{#bs-navbar type=(if inverse 'inverse') fluid=fluid as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}{{t "setting.title"}}{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "index"}}{{t "setting.home"}}{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "women"}}{{t "setting.women"}}{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "children"}}{{t "setting.children"}}{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "men"}}{{t "setting.men"}}{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "groupon"}}{{t "setting.groupon"}}{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

{{#twbs-carousel classNames="slide" interval=1000 as |carousel|}}
  {{#carousel.slide classNames="active" as |slide|}}
    {{slide.img src="https://dummyimage.com/1600x900/f7d3a0/333.jpg&text=Slide+Animation+1" alt="A slide image."}}
  {{/carousel.slide}}
  {{#carousel.slide as |slide|}}
    {{slide.img lazy="https://dummyimage.com/1600x900/f7d3a0/333.jpg&text=Slide+Animation+2" alt="A slide image."}}
  {{/carousel.slide}}
  ...
  {{#carousel.slide as |slide|}}
    {{slide.img lazy="https://dummyimage.com/1600x900/f7d3a0/333.jpg&text=Slide+Animation+5" alt="A slide image."}}
  {{/carousel.slide}}
{{/twbs-carousel}}

{{outlet}}
